span,
p {
    font-family: 'Roboto', sans-serif;
}

.fa-stack {
    vertical-align: top;
}

.divider {
    background-color: #ffffff;
    width: 50px;
    height: 2px;
    display: block;
    margin: 5px auto;
}

.full-height {
    height: 100vh;
}

#datetime {
    background-color: #C34614;
    text-align: center;
    color: white;
    font-size: max(20px, 2.5vw);
    line-height: 1;
}

#ethsbell {
    background-color: #1A2741;
    text-align: center;
    color: white;
    font-size: max(20px, 1.25vw);
}

#left {
    height: fit-content;
}

#main {
    position: static;
    padding-bottom: 10vh;
}

@media (min-width: 768px) {
    #left, #main {
        height: 100%;
        padding-bottom: 0px;
    }
    #datetime {
        height: 25vh;
    }
    #ethsbell {
        height: 75vh;
    }
}

#main-body {
    max-height: 80vh;
    overflow: hidden;
}

#footer {
    background-color: #D8D8D8;
    height: 10vh;
    position: fixed;
    bottom: 0;
    font-size: max(20px, 1.5vw);
}

.filtered {
    display: none !important;
}

.class {
    height: 20vh;
}

.class .name {
    font-size: max(30px, 2.5vw);
    font-weight: bold;
}

.class .location {
    font-size: max(20px, 1.5vw);
}

.uniform {
    color: #1A2741;
}

.noshirt {
    color: #ff0000;
}

.heart {
    color: #C34614;
}

.laptop {
    color: #30B2C9;
}