span,
p {
	font-family: 'Roboto', sans-serif;
}

.fa-stack {
	vertical-align: top;
}

.divider {
	background-color: #ffffff;
	width: 3vw;
	height: 2px;
	display: block;
	margin: 5px auto;
}

.full-height {
	height: 100vh;
}

#datetime {
	background-color: #c34614;
	text-align: center;
	color: white;
	font-size: max(25px, 2.5vw);
	line-height: 1;
}

#ethsbell {
	background-color: #1a2741;
	text-align: center;
	color: white;
	font-size: max(20px, 1.25vw);
}

#left {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

#main {
	position: static;
	padding-bottom: 10vh;
}

#main-body-monitor {
	max-height: 85vh;
	overflow: hidden;
}

@media (min-width: 768px) {
	#left,
	#main {
		height: 100%;
		padding-bottom: 0px;
	}

	#datetime {
		height: 25vh;
	}

	#ethsbell {
		height: 75vh;
	}

	#main-body {
		max-height: 90vh;
		overflow: auto;
	}
}

#footer,
#footer-monitor {
	background-color: #d8d8d8;
	position: fixed;
	bottom: 0;
	width: 100%;
}
#header {
	background-color: #c34614;
	color: white;
	height: 12.5vh;
	width: 100%;
}
#footer {
	height: 10vh;
	font-size: min(25px, max(15px, 2vw));
}

#footer-monitor {
	height: 10vh;
	width: 100vw;
	font-size: 1.25vw;
}

.qr {
	height: 9vh;
	width: 9vh;
}

.filtered {
	display: none !important;
}

#main-body .class {
	height: 20vh;
}

#main-body .class .name {
	font-size: 25px;
	font-weight: 700;
}

.class .location {
	white-space: nowrap;
}

#main-body .icons {
	font-size: 35px;
}

#footer .footer-icons .icon {
	font-size: min(25px, max(15px, 2vw));
}

#footer-monitor .footer-icons .icon {
	font-size: 1.75vw;
}

.nouniform {
	color: #1a2741;
}

.nouniform-x {
	color: #ff0000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.uniform {
	color: #1a2741;
}

.heart {
	color: #c34614;
}

.laptop {
	color: #30b2c9;
}

.legend {
	display: inline-block;
	-moz-column-break-after: column;
	break-after: column;
	padding: 0 5px;
}

#main-body-monitor .class .name {
	font-size: 2.5vw;
	font-weight: 700;
}

#main-body-monitor .class .location {
	font-size: 1.5vw;
}

#main-body-monitor .icons {
	font-size: 2.5vw;
}

#main-body-monitor .class {
	width: calc(100% / 4);
	height: calc(75vh / 4);
}

#main-body-monitor.five-cols .class {
	width: calc(100% / 5);
}

#main-body-monitor.six-rows .class {
	height: calc(75vh / 6);
}

#main-body-monitor.six-rows .class .name {
	font-size: 1.60vw;
}

#main-body-monitor.six-rows .class .location {
	font-size: 1.25vw;
}

#main-body-monitor.six-rows .class .icons {
	font-size: 1.4vw;
}

#main-body-monitor.five-rows .class {
	height: calc(75vh / 5);
}

#main-body-monitor.five-rows .class .name {
	font-size: 2.05vw;
}

#main-body-monitor.five-rows .class .location {
	font-size: 1.25vw;
}

#main-body-monitor.five-rows .class .icons {
	font-size: 1.90vw;
}

.title-div {
	height: 8vh;
}

.title{
	font-size: 7vh;
}

.subtitle{
	font-size: 3vh;
}

.block{
	font-size: 4.5vh;
}

#main-monitor{
	height: 75vh;
}

.gray {
	background-color: rgb(221, 221, 221);
}