/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/
span {
  font-size: 16px;
}

.col {
  width: 20vw;
  height: 90vh;
  display: inline-block;
  font-size: 0;
}

.cell {
  padding-top: 1vh;
  height: 22.5vh;
  background-color: #f6f6f6;
  padding-left: 2vh;
  padding-right: 2vh;
}

#left {
  height: 100vh;
  max-height: 100vh;
}

#footer p {
  text-align: center;
  width: 80vw;
  display: block;
  font-size: 1.75vw;
  line-height: 5vh;
}

#footer table tbody tr td {
  vertical-align: middle;
  height: 10vh;
}

#footer {
  width: 80vw;
  height: 10vh;
  position: absolute;
  top: 100%;
  left: 20vw;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 0;
  background-color: #D8D8D8
}

#main {
  display: inline-block;
  width: 80vw;
  height: 90vh;
  font-size: 0;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 20vw;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 0;
}

#date, #time {
  font-size: 3vw;
}

#datetime {
  height: 25vh;
  background-color: #C34614;
  text-align: center;
}

#datetime table tbody tr td {
  vertical-align: middle;
  height: 25vh;
}

#ethsbell {
  height: 75vh;
  background-color: #1A2741;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#ethsbell table tbody tr td {
  vertical-align: middle;
  height: 75vh;
  width: 20vw;
}

span, p {
  font-family: 'Roboto', sans-serif;
}

#left span {
  color: white;
}

#time {
  font-weight: bold;
}

#showing, #timeleft {
  font-size: 2.25vw;
  margin: .25vw;
}

.spacer {
  padding-bottom: 1vw;
  display: block;
}

#ethsbell {
  text-align: center;
}

#wildkit {
  width: 15vw;
  padding-bottom: 1vw;
  margin: 0 auto;
}

.divider {
  width: 2vh;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 2px solid #cdcdcd;
  margin-bottom: 1vw;
}

span.name {
  font-size: 4vh;
  margin-bottom: .5vw;
  font-weight: bold;
}

span.location {
  font-size: 3vh;
  margin-bottom: .5vw;
  max-width: 20vw;
  word-wrap: normal;
  max-height: 10vh;
  overflow: hidden;
}

span.icons, span span.icons, span.icons i, .fa-stack-2x, .fa-stack-1x {
  font-size: 4vh;
  height: 4vh;
  vertical-align: middle
}

.fa-stack {
  width: 5vh;
  height: 4vh;
  line-height: 4vh;
}

.cell span:not(.fa-stack) {
  display: block;
  text-align: center;
}

#footer .fas {
  display: inline;
}

img.icons {
  width: auto;
  height: 2.25vw;
  display: none;
}

.icons i, .fa-stack {
  display: none;
}

.uniform {
  color: #1A2741;
}

.heart {
  color: #C34614;
}

.laptop {
  color: #30B2C9;
}

#main {
  text-align: center;
}

#message {
  font-size: 7.5vw;
  line-height: 90vh;
  vertical-align: middle;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#lockers {
  font-size: 1.5vw;
}

#overRide {
  font-family: 'Roboto', sans-serif;
}

.noshirt2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.col.info {
  height: 88vh;
  margin-top: 2vh;
}
